<ion-header>
    <ion-navbar>
        <!-- this will be the recipe title -->
        <ion-title>Recipe Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>{{ item.title }}</ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header>Ingredients</ion-list-header>
                <ion-item padding *ngFor="let ingredient of item.ingredients">{{ ingredient }}</ion-item>
            </ion-list>

            <ion-list>
                <ion-list-header>Instructions</ion-list-header>
                <ion-item padding *ngFor="let instruction of item.instructions">{{ instruction }}</ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>